<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sws="http://www.springframework.org/schema/web-services"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd        http://www.springframework.org/schema/web-services        http://www.springframework.org/schema/web-services/web-services-2.0.xsd        http://www.springframework.org/schema/context        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <sws:annotation-driven/>
    <!--sws:dynamic-wsdl id="LoginService" portTypeName="LoginService" locationUri="/SpringWs/LoginService"
                      targetNamespace="http://localhost:7000/VidyaBhavan/loginservice">
        <sws:xsd location="/WEB-INF/xsd/Login.xsd"/>
    </sws:dynamic-wsdl-->
    <context:component-scan base-package="com.project.vidyabhavan.SpringWebservice"/>
</beans>

