<?xml version = '1.0' encoding = 'EUC-KR'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>spring-ws</servlet-name>
        <servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
        <init-param>
            <param-name>transformWsdlLocations</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring-ws</servlet-name>
        <url-pattern>*.wsdl</url-pattern>
        <url-pattern>/SpringWs/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.project.vidyabhavan.online.presentation.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.project.vidyabhavan.online.presentation.Common.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentInfoServlet</servlet-name>
        <servlet-class>com.project.vidyabhavan.online.presentation.StudentInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillLectureServlet</servlet-name>
        <servlet-class>com.project.vidyabhavan.online.presentation.FillLectureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillTestServlet</servlet-name>
        <servlet-class>com.project.vidyabhavan.online.presentation.FillTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillNoticeServlet</servlet-name>
        <servlet-class>com.project.vidyabhavan.online.presentation.FillNoticeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentActionServlet</servlet-name>
        <servlet-class>com.project.vidyabhavan.online.presentation.StudentActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAttendanceServlet</servlet-name>
        <servlet-class>com.project.vidyabhavan.online.presentation.MyAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProgressServlet</servlet-name>
        <servlet-class>com.project.vidyabhavan.online.presentation.MyProgressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyNoticeServlet</servlet-name>
        <servlet-class>com.project.vidyabhavan.online.presentation.MyNoticeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceReportServlet</servlet-name>
        <servlet-class>com.project.vidyabhavan.online.presentation.AttendanceReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgressReportServlet</servlet-name>
        <servlet-class>com.project.vidyabhavan.online.presentation.ProgressReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadMarksServlet</servlet-name>
        <servlet-class>com.project.vidyabhavan.online.presentation.UploadMarksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAttendanceServlet</servlet-name>
        <servlet-class>com.project.vidyabhavan.online.presentation.UploadAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPort</servlet-name>
        <servlet-class>com.project.vidyabhavan.online.webservices.LoginWs</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StudentWsPort</servlet-name>
        <servlet-class>com.project.vidyabhavan.online.webservices.StudentWs</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StudentInfoWsPort</servlet-name>
        <servlet-class>com.project.vidyabhavan.online.webservices.StudentInfoWs</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>FillDatabaseWsPort</servlet-name>
        <servlet-class>com.project.vidyabhavan.online.webservices.FillDatabaseWs</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentInfoServlet</servlet-name>
        <url-pattern>/studentInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillLectureServlet</servlet-name>
        <url-pattern>/lectureInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillTestServlet</servlet-name>
        <url-pattern>/testInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillNoticeServlet</servlet-name>
        <url-pattern>/notice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentActionServlet</servlet-name>
        <url-pattern>/studentAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAttendanceServlet</servlet-name>
        <url-pattern>/myAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProgressServlet</servlet-name>
        <url-pattern>/myProgress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyNoticeServlet</servlet-name>
        <url-pattern>/myNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceReportServlet</servlet-name>
        <url-pattern>/attendanceReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgressReportServlet</servlet-name>
        <url-pattern>/progressReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadMarksServlet</servlet-name>
        <url-pattern>/uploadMarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAttendanceServlet</servlet-name>
        <url-pattern>/uploadAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPort</servlet-name>
        <url-pattern>/LoginPort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentWsPort</servlet-name>
        <url-pattern>/StudentWsPort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentInfoWsPort</servlet-name>
        <url-pattern>/StudentInfoWsPort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillDatabaseWsPort</servlet-name>
        <url-pattern>/FillDatabaseWsPort</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/Common-HTML/login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
